          *{
                margin: 0;
                padding: 0;
            }
            .blog-post{
                margin: auto;
                position: relative;
                width: 70%;
                height: auto;
                border-bottom: 2px solid #666666;
            }

            .blog-post h2{
                display: block;
                margin: 1rem;
            }

            .blog-post p{
                display: block;
                margin: 1rem;
            }

            .blog-post .click-button{
                display: block;
                margin: 1rem;
                padding: .5rem  1rem;
                border-radius: 2rem;
                background-color: #ff6666;
                color: #fff; 
            }
            .click-button span{
                pointer-events: none;
                width: 100%;
                height: 100%;
            }
            .click-button span{
                display: block;
            }
            .click-button span:last-child{
                display: none;
            }
            .cbLike span:first-child{
                display: none;
            }
            .cbLike span:last-child{
                display: block;
            }
            /*           
            */

            .unlike{
                position: absolute;
                right: 2rem;
                width: 2rem;

                height: 2rem; 
            }

            .liked svg{
                position: absolute;
                right: 2rem;
                width: 2rem;

                height: 2rem;
                fill: red;
                color: red;
            } 

            #spinners {
                display: none;
                margin: 2rem auto;
                text-align: center;
            }
            #spinners img{

                width: 1rem;
                animation:  anime 4s infinite; 
                transition: all .1s linear;
            }
            @keyframes anime{
                to{
                    transform: rotate(3600deg);
                }
            }

            #load_more{
                /*display: none;*/
            }
            .load_more{

                margin: 2em auto;
                text-align: center; 
                background-color: #ff6666;
                width: 6rem;
                padding: 1rem .5rem;
                color: #fff;
                border-radius: 1rem;
            }